<section class="main-content columns is-fullheight">

  <div class="container column is-9">
    <div class="section">

      <%= render "users/settings/#{@tab}" %>

    </div>
  </div>

  <aside class="column is-3 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <ul class="menu-list">
      <li>
        <%= link_to "Profile", user_settings_url('profile') %>
      </li>
      <li>
        <%= link_to "Test", user_settings_url('test') %>
      </li>
      <li>
        <%= link_to "Account", user_settings_url('account') %>
      </li>
    </ul>
  </aside>

</section>
