<div class="columns">
  <div class="column is-9">
    <%= render "users/settings/#{@tab}" %>
  </div>

  <div class="column is-3 is-narrow-mobile is-fullheight is-hidden-mobile">
    <aside class="menu">
      <ul class="list">
        <% UsersController::SETTINGS_MENU_ITEMS.each do |menu_item| %>
          <li class="mb-2"> <%= link_to menu_item[:name].titleize, user_settings_path(menu_item[:name]), class: 'has-text-dark' %> </li>
        <% end %>
      </ul>
    </aside>
  </div>
</div>