<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p> Hi <%= @user.username %> </p>

    <p>
      Your account deletion was requested. Please, visit
      <%= link_to "this page", confirm_destroy_url(@destroy_token) %> to destroy your account. The link will expire in 12 hours.
    </p>

    <p>
      Thanks,
      <br>
      The Discussion Team
    </p>

  </body>
</html>