<div class="column is-3">

  <aside class="menu">
    <ul class="list">
        <h3 class="title is-5 has-text-grey">Guideline</h3>
        <li class="mb-2">
          <p> <%= tag.guideline %> </p>
        </li>

        <hr>

        <h3 class="title is-5 has-text-grey">About <%= tag.name %></h3>
        <li class="mb-2">
          <p> <%= tag.about %> </p>
        </li>

        <hr>

        <span class="title is-5 has-text-grey"><%= tag.posts.count %> Posts Published </span>
    </ul>
  </aside>

</div>

